header {
    overflow: hidden;

    &#main {
        text-align: center;
        background: url('../../../assets/images/header-bg.jpg');
        background-size: cover;
        background-position: center;
        padding: $margin-md + 10px 0;

        nav {
            @include navbar($home-navbar-height, $margin-sm + 5px, $margin-sm + 5px, transparent, .8);
        }
    }

    &#app {
        nav {
            @include navbar($app-navbar-height, 0, 0, $white, 1);
            border-bottom: 1px solid $semi-grey;

            .container {
                height: 100%;
            }

            ul {
                margin-right: -$margin-xs;

                li {
                    height: 100%;

                    a {
                        display: inline-block;
                        margin: $margin-sm + 10px $margin-xs;
                        font-size: 1.6rem;
                        color: $dark-blue;

                        .circle {
                            background-color: transparent;
                            @include transition(background-color, .2s, ease-in-out);

                            &:hover,
                            &:active,
                            &:focus {
                                background-color: $super-light-grey;
                            }
                        }
                    }
                }
            }

            .brand-logo {
                height: 100%;
                line-height: $app-navbar-height;

                img {
                    margin: $margin-sm + 10px 0;
                    height: 40px;
                    display: inline-block;
                }
            }
        }
    }

    .v-middle {
        z-index: 1;
        position: relative;
        padding-bottom: $home-navbar-height;
    }

    .heading {
        margin: 0 0 $margin-sm 0;
    }

    .sub-heading {
        color: $white;
        text-transform: uppercase;
        margin-bottom: $margin-sm;

        .dash {
            opacity: .4;
            background-color: $white;
            vertical-align: middle;
            margin: 0 $margin-xs 2px $margin-xs;
        }
    }

    .go-to {
        i {
            z-index: 1;
            position: relative;
        }
    }
}
