@font-face {
    font-family: 'Karla';
    src: url('../../../assets/fonts/karla-regular-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karla Italic';
    src: url('../../../assets/fonts/karla-italic-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/karla-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karla Bold';
    src: url('../../../assets/fonts/karla-bold-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/karla-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}