html {
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Karla';
    font-size: 1.6rem;
}

.container {
    .row {
        margin: 0 -1.5rem;

        .col {
            padding: 0 1.5rem;
        }
    }
}
