.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.overlay-1 {
        background-color: transparentize($black, .9);
    }

    &.overlay-3 {
        background-color: transparentize($black, .7);
    }
}

.dash {
    display: inline-block;

    &.long {
        width: 10px;
        height: 1px;
    }
}

.table {
    width: 100%;
    display: table;

    &.full {
        height: 100vh;
    }
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.v-middle {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.upcase {
    text-transform: uppercase;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    @include transition(opacity, .2s, ease-in-out);
    @include transition(visibility, .2s, ease-in-out);
}
