<!--TO DO: Add more info and make it pretty:D-->

<section id="app-section" class="work">
    <div id="work-details">
        <div class="header" style="background: url('{{CoverPhoto}}'); background-size: cover; background-position: center; background-color: rgba(64, 68, 79, .4);">
            <div class="container">
                <div class="top">
                    <div class="badge left">
                        <i class="icon-views"></i>
                        <span class="number-views">666</span>
                    </div>
                    <div class="social right">
                        <a href="#/" class="circle icon social-button icon-facebook"></a>
                        <a href="#/" class="circle icon social-button icon-twitter"></a>
                    </div>
                </div>
                <div class="middle center-align">
                    <a class="chapter-action previous hidden">
                        <i class="icon-arrow-left"></i>
                        <span>Previous Chapter</span>
                    </a>
                    <div class="headings">
                        <h1 class="heading big">{{Title}}</h1>
                        <p class="sub-heading">
                            <span>by </span>
                            <a href="#/users/{{User}}" class="author">{{User}}</a>
                        </p>
                    </div>
                    <a class="chapter-action next hidden">
                        <i class="icon-arrow-right"></i>
                        <span>Next Chapter</span>
                    </a>
                </div>
            </div>
            <div class="bottom-shadow"></div>
            <div class="overlay overlay-3"></div>
        </div>
        <div class="like-container">
            <button class="btn white wide like in-work round">
                <span class="icons">
                    <i class="icon-like-o"></i>
                    <i class="icon-like-full"></i>
                </span>
                <span class="number-likes">{{Likes}}</span>
            </button>
        </div>
        <div class="container content-wrapper center-align">
            <h3 class="heading medium">{{Title}}</h3>
            <p class="text">{{Body}}</p>
            <div class="chapter-controls">
                <a href="#/" class="btn square grey hidden">
                    <i class="icon-arrow-left"></i>
                </a>
                <a href="#/" class="btn square grey hidden">
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>