<header>
    <div class="container">
        <div class="row">
            <h1 class="col-md-9">Bookworm</h1>
            <div id='login-controls' class="col-md-3">
                <a id="btn-go-to-login" class="btn btn-default" href="#/login">Login</a>
                <a id="btn-go-to-register" class="btn btn-default" href="#/register">Register</a>
                <button id="btn-logout" class="btn btn-default">Logout</button>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a href="#/books"><h3>Library</h3></a>
            </li>
        </ul>
    </nav>
</header>