<header id="app">
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="#/ibrary" class="brand-logo">
                    <img src="../assets/images/small-logo.svg" alt="Small Logo" />
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="#/library">
                            <span class="circle icon icon-browse"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/daily">
                            <span class="circle icon icon-news"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/notifications">
                            <span class="circle icon icon-notifications"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/user">
                            <span class="circle icon icon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/settings">
                            <span class="circle icon icon-settings"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/logout">
                            <span class="circle icon icon-logout"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>