<header id="main" class="full">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile">
                <li><a href="#/login">Write</a></li>
                <li><a href="#/library">Explore</a></li>
                <li>
                    <a href="#/" class="brand-logo">
                        <img src="../assets/images/logo.svg" alt="Big Logo" />
                    </a>
                </li>
                <li><a href="#/login">Sign in</a></li>
                <li><a href="#/register">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="v-middle">
        <h1 class="heading big">The Right Place to Write</h1>
        <p class="sub-heading">
            Explore
            <span class="dash long"></span>
            Write
            <span class="dash long"></span>
            Publish
        </p>
    </div>
    <a class="go-to" href="services">
        <i class="icon-arrow-down"></i>
    </a>
    <div class="overlay overlay-1"></div>
</header>
