<header id="main" class="full">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile">
                <li><a href="#/login">Write</a></li>
                <li><a href="#/library">Explore</a></li>
                <li>
                    <a href="#/" class="brand-logo">
                        <img src="../assets/images/logo.svg" alt="Big Logo" />
                    </a>
                </li>
                <li><a href="#/login">Sign in</a></li>
                <li><a href="#/register">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="overlay overlay-1"></div>
</header>
