<header id="main" class="full table">
    <nav class="table-row">
        <div class="nav-wrapper">
            <ul id="nav-mobile">
                <li><a href="#/login">Write</a></li>
                <li><a href="#/login">Explore</a></li>
                <li class="logo">
                    <a href="#/" class="brand-logo">
                        <img src="../assets/images/logo.svg" alt="Big Logo" />
                    </a>
                </li>
                <li><a href="#/login">Sign in</a></li>
                <li><a href="#/register">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="v-middle">
        <h1 class="heading big">The Right Place to Write</h1>
        <p class="sub-heading">
            Explore
            <span class="dash long"></span>
            Write
            <span class="dash long"></span>
            Publish
        </p>
        <a href="#/register" class="waves-effect waves-light btn line black-and-white">Start Writing</a>
    </div>
    <div class="overlay overlay-1"></div>
</header>

<section id="services">
    <div class="container">
        <h1 class="heading">No boundaries while writing</h1>
        <div class="row">
            <div class="col s12 m4">
                <h3 class="heading small serif">Public and private sharing</h3>
                <p class="desc">Feel free to compose your work privately and when it’s  done, flush it into the wild and wait to receive great reviews and likes.</p>
            </div>
            <div class="col s12 m4">
                <h3 class="heading small serif">Minimalistically Designed</h3>
                <p class="desc">Bookworm has a beautiful, minimalistic layout. In order to optimize your writing experience we have carefully designed our app.</p>
            </div>
            <div class="col s12 m4">
                <h3 class="heading small serif">Auto-Save</h3>
                <p class="desc">No worries if your network crashes or your PC stops working, everything is automatically saved, while typing, to our servers.</p>
            </div>
        </div>
    </div>
</section>