<section id="app-section" class="sm">
    <div class="container">
        <div class="header">
            <div class="left">
                <h1 class="heading big">Library</h1>
                <p class="sub-heading">All texts published by our users</p>
            </div>
            <div class="right">
                <a class="dropdown-button btn grey normal" href="#" data-activates="filter-dropdown">
                    <i class="icon-filter"></i>
                    <span>Filter by</span>
                </a>
                <ul id="filter-dropdown" class="dropdown-content">
                    <li><a href="#!">one</a></li>
                    <li><a href="#!">two</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">three</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>