<section>
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc sub-heading">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc sub-heading">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc sub-heading">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc sub-heading">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image" style="background: url('http://wallpoper.com/images/00/42/51/55/nature-trees_00425155.jpg'); background-size: cover; background-position: center;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="card-title heading mini">Title</h4>
                            <p class="desc sub-heading">Description of the work</p>
                        </div>
                        <div class="card-action">
                            <button class="btn like">
                                <span class="icons">
                                    <i class="icon-like-o"></i>
                                    <i class="icon-like-full"></i>
                                </span>
                                <span class="number-likes">2</span>
                            </button>
                            <a href="#/library" class="right read-more">
                                <span class="label">Read More</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>