<div id="register">
    <div class="right white side">
        <div class="wrapper">
            <a class="logo" href="#/">
                <img src="../assets/images/logo.svg" alt="Big Logo">
            </a>
            <h2 class="heading medium serif">Login Form</h2>

            <input placeholder="Username" type="text" class="normal" id="tb-user">
            <input placeholder="Password" type="password" class="normal" id="tb-pass">

            <button id="btn-login" class="btn round waves-effect waves-light">Login</button>
            <a href="#/register">Don't have an account?</a>
        </div>
    </div>
</div>