<div id="register">
    <div class="right white side">
        <div class="wrapper">
            <a class="logo" href="#/">
                <img src="../assets/images/logo.svg" alt="Big Logo">
            </a>
            <h2 class="heading medium serif">Register Form</h2>

            <input placeholder="Username" type="text" class="normal" id="tb-user">
            <input placeholder="Password" type="password" class="normal" id="tb-pass">
            <input placeholder="Confirm Password" type="password" class="normal" id="tb-conf-pass">

            <button id="btn-register" class="btn round waves-effect waves-light">Register</button>
            <a href="#/login">Already have an account?</a>
        </div>
    </div>
</div>