@font-face {
  font-family: 'Karla';
  src: url("../../../assets/fonts/karla-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/karla-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Karla Italic';
  src: url("../../../assets/fonts/karla-italic-webfont.woff2") format("woff2"), url("../../../assets/fonts/karla-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Karla Bold';
  src: url("../../../assets/fonts/karla-bold-webfont.woff2") format("woff2"), url("../../../assets/fonts/karla-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bookworm';
  src: url("../../../assets/fonts/bookworm.eot?xvl8zh");
  src: url("../../../assets/fonts/bookworm.eot?xvl8zh#iefix") format("embedded-opentype"), url("../../../assets/fonts/bookworm.ttf?xvl8zh") format("truetype"), url("../../../assets/fonts/bookworm.woff?xvl8zh") format("woff"), url("../../../assets/fonts/bookworm.svg?xvl8zh#bookworm") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bookworm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: "\e900"; }

.icon-arrow-left:before {
  content: "\e901"; }

.icon-arrow-right:before {
  content: "\e902"; }

.icon-browse:before {
  content: "\e903"; }

.icon-create:before {
  content: "\e904"; }

.icon-facebook:before {
  content: "\e905"; }

.icon-filter:before {
  content: "\e906"; }

.icon-like-full:before {
  content: "\e907"; }

.icon-like-o:before {
  content: "\e908"; }

.icon-locked:before {
  content: "\e909"; }

.icon-logout:before {
  content: "\e90a"; }

.icon-news:before {
  content: "\e90b"; }

.icon-notifications:before {
  content: "\e90c"; }

.icon-search:before {
  content: "\e90d"; }

.icon-settings:before {
  content: "\e90e"; }

.icon-twitter:before {
  content: "\e90f"; }

.icon-unlocked:before {
  content: "\e910"; }

.icon-user:before {
  content: "\e911"; }

.icon-views:before {
  content: "\e912"; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Karla';
  font-size: 1.6rem; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .overlay.overlay-1 {
    background-color: rgba(0, 0, 0, 0.1); }

.dash {
  display: inline-block; }
  .dash.long {
    width: 10px;
    height: 1px; }

.table {
  width: 100%;
  display: table; }
  .table.full {
    height: 100vh; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.v-middle {
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

header {
  text-align: center;
  background: url("../../../assets/images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 0; }
  header nav {
    height: 125px;
    background-color: transparent;
    box-shadow: none; }
    header nav .nav-wrapper {
      z-index: 1;
      position: relative; }
    header nav ul {
      display: inline-block;
      margin: auto;
      height: 100%; }
      header nav ul li {
        line-height: 125px; }
        header nav ul li a {
          font-size: 1.6rem;
          opacity: .8;
          display: inline;
          padding: 0 25px;
          transition: opacity .2s ease-in-out; }
          header nav ul li a:hover, header nav ul li a:active, header nav ul li a:focus {
            opacity: 1;
            background-color: transparent; }
    header nav .logo {
      line-height: 1; }
    header nav .brand-logo {
      position: relative;
      opacity: 1;
      padding: 0 25px; }
      header nav .brand-logo img {
        display: block;
        height: 125px; }
  header .v-middle {
    z-index: 1;
    position: relative;
    padding-bottom: 125px; }
  header .heading {
    margin: 0 0 20px 0; }
  header .sub-heading {
    color: #ffffff;
    text-transform: uppercase; }
    header .sub-heading .dash {
      opacity: .4;
      background-color: #ffffff;
      vertical-align: middle;
      margin: 0 10px 2px 10px; }
  header .go-to i {
    z-index: 1;
    position: relative; }

.heading {
  margin: 0;
  font-size: 2.8rem;
  font-family: 'Times New Roman';
  color: #40444f; }
  .heading.big {
    font-size: 3.5rem; }

.sub-heading {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Karla'; }

