@font-face {
  font-family: 'Karla';
  src: url("../../../assets/fonts/karla-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/karla-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Karla Italic';
  src: url("../../../assets/fonts/karla-italic-webfont.woff2") format("woff2"), url("../../../assets/fonts/karla-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Karla Bold';
  src: url("../../../assets/fonts/karla-bold-webfont.woff2") format("woff2"), url("../../../assets/fonts/karla-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bookworm';
  src: url("../../../assets/fonts/bookworm.eot?xvl8zh");
  src: url("../../../assets/fonts/bookworm.eot?xvl8zh#iefix") format("embedded-opentype"), url("../../../assets/fonts/bookworm.ttf?xvl8zh") format("truetype"), url("../../../assets/fonts/bookworm.woff?xvl8zh") format("woff"), url("../../../assets/fonts/bookworm.svg?xvl8zh#bookworm") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bookworm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: "\e900"; }

.icon-arrow-left:before {
  content: "\e901"; }

.icon-arrow-right:before {
  content: "\e902"; }

.icon-browse:before {
  content: "\e903"; }

.icon-create:before {
  content: "\e904"; }

.icon-facebook:before {
  content: "\e905"; }

.icon-filter:before {
  content: "\e906"; }

.icon-like-full:before {
  content: "\e907"; }

.icon-like-o:before {
  content: "\e908"; }

.icon-locked:before {
  content: "\e909"; }

.icon-logout:before {
  content: "\e90a"; }

.icon-news:before {
  content: "\e90b"; }

.icon-notifications:before {
  content: "\e90c"; }

.icon-search:before {
  content: "\e90d"; }

.icon-settings:before {
  content: "\e90e"; }

.icon-twitter:before {
  content: "\e90f"; }

.icon-unlocked:before {
  content: "\e910"; }

.icon-user:before {
  content: "\e911"; }

.icon-views:before {
  content: "\e912"; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Karla';
  font-size: 1.6rem; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .overlay.overlay-1 {
    background-color: rgba(0, 0, 0, 0.1); }

.dash {
  display: inline-block; }
  .dash.long {
    width: 10px;
    height: 1px; }

.table {
  width: 100%;
  display: table; }
  .table.full {
    height: 100vh; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.v-middle {
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

header {
  overflow: hidden; }
  header#main {
    text-align: center;
    background: url("../../../assets/images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 0; }
    header#main nav {
      height: 125px;
      background-color: transparent;
      box-shadow: none; }
      header#main nav .nav-wrapper {
        z-index: 1;
        position: relative; }
      header#main nav ul {
        display: inline-block;
        margin: auto;
        height: 100%; }
        header#main nav ul li {
          line-height: 125px; }
          header#main nav ul li a {
            font-size: 1.6rem;
            opacity: 0.8;
            display: inline;
            padding: 0 25px;
            transition: opacity .2s ease-in-out; }
            header#main nav ul li a:hover, header#main nav ul li a:active, header#main nav ul li a:focus {
              opacity: 1;
              background-color: transparent; }
      header#main nav .logo {
        line-height: 1; }
      header#main nav .brand-logo {
        position: relative;
        display: inline-block;
        opacity: 1;
        padding: 0 25px; }
        header#main nav .brand-logo img {
          display: block;
          height: 125px; }
  header#app nav {
    height: 100px;
    background-color: #ffffff;
    box-shadow: none;
    border-bottom: 1px solid #e9e9e9; }
    header#app nav .nav-wrapper {
      z-index: 1;
      position: relative; }
    header#app nav ul {
      display: inline-block;
      margin: auto;
      height: 100%; }
      header#app nav ul li {
        line-height: 100px; }
        header#app nav ul li a {
          font-size: 1.6rem;
          opacity: 1;
          display: inline;
          padding: 0 0;
          transition: opacity .2s ease-in-out; }
          header#app nav ul li a:hover, header#app nav ul li a:active, header#app nav ul li a:focus {
            opacity: 1;
            background-color: transparent; }
    header#app nav .logo {
      line-height: 1; }
    header#app nav .brand-logo {
      position: relative;
      display: inline-block;
      opacity: 1;
      padding: 0 0; }
      header#app nav .brand-logo img {
        display: block;
        height: 100px; }
    header#app nav ul {
      margin-right: -10px; }
      header#app nav ul li {
        height: 100%; }
        header#app nav ul li a {
          display: inline-block;
          margin: 30px 10px;
          font-size: 1.6rem;
          color: #40444f; }
          header#app nav ul li a .circle {
            background-color: transparent;
            -moz-transition: background-color 0.2s ease-in-out;
            -o-transition: background-color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out; }
            header#app nav ul li a .circle:hover, header#app nav ul li a .circle:active, header#app nav ul li a .circle:focus {
              background-color: #f9f9f9; }
    header#app nav .brand-logo {
      height: 100%;
      line-height: 100px; }
      header#app nav .brand-logo img {
        margin: 30px 0;
        height: 40px;
        display: inline-block; }
  header .v-middle {
    z-index: 1;
    position: relative;
    padding-bottom: 125px; }
  header .heading {
    margin: 0 0 20px 0; }
  header .sub-heading {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px; }
    header .sub-heading .dash {
      opacity: .4;
      background-color: #ffffff;
      vertical-align: middle;
      margin: 0 10px 2px 10px; }
  header .go-to i {
    z-index: 1;
    position: relative; }

.heading {
  margin: 0;
  font-size: 2.8rem;
  font-family: 'Times New Roman';
  color: #40444f; }
  .heading.big {
    font-size: 3.5rem; }
  .heading.small {
    font-size: 2.1rem; }
  .heading.serif {
    font-family: 'Karla'; }

.sub-heading {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Karla'; }

section {
  width: 100%;
  padding: 120px 0;
  text-align: center;
  background-color: #ffffff; }
  section h1.heading {
    margin-bottom: 120px; }
  section .desc {
    font-size: 1.6rem;
    color: #9a9ea8; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.btn {
  border-radius: 50px;
  display: inline-block;
  height: 30px;
  font-size: 1.2rem;
  padding: 0 20px; }
  .btn.line.black-and-white {
    border: 1px solid #ffffff;
    line-height: 30px;
    background-color: transparent;
    box-shadow: none; }
    .btn.line.black-and-white:hover, .btn.line.black-and-white:active, .btn.line.black-and-white:focus {
      background-color: #333333;
      border-color: #333333; }

.circle {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #f9f9f9;
  position: relative; }
  .circle.icon {
    font-family: 'bookworm'; }
    .circle.icon::before {
      position: absolute;
      line-height: 40px;
      text-align: center;
      left: 0;
      right: 0; }

