.btn {
    display: inline-block;
    height: $button-height;
    line-height: $button-height;
    font-size: 1.2rem;
    border-radius: 0;

    &.wide {
        padding: 0 $margin-sm;
    }

    &.normal {
        padding: 0 $margin-xs;
    }

    &.line {
        &.black-and-white {
            border: 1px solid $white;
            background-color: transparent;
            box-shadow: none;

            &:hover,
            &:active,
            &:focus {
                background-color: $dark-grey;
                border-color: $dark-grey;
            }
        }
    }

    &.grey {
        background-color: transparentize($black, .97) !important;
        box-shadow: none;
        color: transparentize($light-grey, .5);
        text-transform: none;
        @include transition(box-shadow, .2s, ease-in-out);

        i {
            color: $light-grey;
            vertical-align: middle;
            margin-right: $margin-xs;
        }

        &:hover,
        &:active,
        &:focus {
            @include box-shadow(0, 5px, 10px, 0, transparentize($black, .84));
        }
    }

    &.round {
        border-radius: 50px;
    }
}
