.card {
    border-radius: 0;

    &.horizontal {
        margin: 0 0 $margin-sm + 10px 0;
        height: 190px;
        text-align: left;
        @include box-shadow(0, 2px, 5px,  0, transparentize($black, .88));
        @include transition(box-shadow, .1s, ease-in-out);

        &:hover {
        @include box-shadow(0, 5px, 15px,  0, transparentize($black, .84));
        }

        .card-image {
            width: 125px;
            max-width: 125px;
            background-size: cover;
            background-position: center;
        }

        .card-content {
            padding: 20px;

            .card-title {
                line-height: normal;
                margin-bottom: $margin-sm;
            }

            .desc {
                color: $light-grey;
                font-size: 1.2rem;
            }
        }

        .card-action {
            border-color: $border-color;
            padding: 15px 10px 15px 20px;

            a:not(.btn):not(.btn-large):not(.btn-floating) {
                color: $light-grey;
                text-transform: none;
                margin: 2px 0 0 0;
            }

            .read-more {
                padding: 0;
                font-size: 1.2rem;

                &:hover,
                &:active,
                &:focus {
                    i {
                        margin-left: $margin-xs - 5px;
                        margin-right: 5px;
                    }
                }

                i {
                    font-size: .8rem;
                    margin-right: $margin-xs;
                    @include transition(margin, .2s, ease-in-out);
                }

                span {
                    margin-right: $margin-xs;
                }
            }
        }
    }
}
