input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 0;
    @include box-shadow(0, 5px, 10px, 0, transparentize($black, .84));
}

input {
    &.grey {
        margin-bottom: 0;
        background-color: transparentize($black, .97) !important;
        font-size: 1.2rem;
        padding: 0 $margin-xs;
        box-shadow: none;
        color: transparentize($light-grey, .5);
        text-transform: none;
        border: 0;
        @include transition(box-shadow, .2s, ease-in-out);

        i {
            color: $light-grey;
            vertical-align: middle;
            margin-right: $margin-xs;
        }
    }

    &.normal {
        border-bottom: 2px solid $semi-grey;
        font-size: 1.2rem;

        &:not([type]):focus:not([readonly]),
        &[type=text]:focus:not([readonly]),
        &[type=password]:focus:not([readonly]),
        &[type=email]:focus:not([readonly]),
        &[type=url]:focus:not([readonly]),
        &[type=time]:focus:not([readonly]),
        &[type=date]:focus:not([readonly]),
        &[type=datetime]:focus:not([readonly]),
        &[type=datetime-local]:focus:not([readonly]),
        &[type=tel]:focus:not([readonly]),
        &[type=number]:focus:not([readonly]),
        &[type=search]:focus:not([readonly]),
        &.materialize-textarea:focus:not([readonly]) {
            border-bottom: 2px solid $green;
            box-shadow: none;
        }
    }
}

.search-form {
    display: inline-block;
    width: 230px;
    position: relative;

    .submit {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        line-height: 3rem;
        font-size: 1.2rem;
        font-family: 'bookworm';
        cursor: pointer;
        padding: 0 $margin-xs;
        color: $light-grey;
    }
}
