section {
    width: 100%;
    padding: $margin-xl 0;
    text-align: center;
    background-color: $white;

    &.full {
        height: 100%;
    }

    &#app-section {
        text-align: left;
        background-color: $super-light-grey;

        .heading {
            margin-bottom: $margin-sm;
        }

        .header {
            display: inline-block;
            width: 100%;
            margin-bottom: $margin-md + 10px;
            display: flex;
            flex-direction: row;

            .left {
                flex: 1;
            }

            .right {
                align-self: center;

                .dropdown-button {
                    margin-right: $margin-xs;
                }

                input {
                    width: 210px;
                }
            }
        }
    }

    &.sm {
        padding: $margin-md + 10px 0;
    }

    &.work {
        padding: 0;

        .header {
            height: 400px;
            max-height: 400px;
        }
    }

    .heading {
        margin-bottom: $margin-xl;
    }

    .desc {
        font-size: 1.6rem;
        color: $light-grey;
    }

    .sub-heading {
        color: $light-grey;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    #work-details {
        .header {
            display: block;
            padding: $margin-md + 10px 0;
            margin-bottom: 0;
        }

        .like-container {
            top: -($button-height / 2);
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        .container {
            margin-top: -$button-height;

            .heading {
                margin-top: $margin-md + $margin-sm + 5px;
                margin-bottom: $margin-md + 10px;
                text-align: center;
            }

            .text {
                display: block;
                max-width: 500px;
                margin: auto;
                text-align: center;
                line-height: 2.8rem;
                font-size: 1.8rem;
                color: $light-grey;
                margin-bottom: $margin-md + $margin-sm + 5px;
            }
        }
    }
}
